Source: autoconf-to-debian
Section: utils
Priority: optional
Maintainer: Joshua Bussdieker <jbussdieker@gmail.com>
Build-Depends: debhelper (>= 5), dpkg-dev (>= 1.14.10), po-debconf
Standards-Version: 3.9.1
Homepage: http://github.com/jbussdieker/autoconf-to-debian
Vcs-Git: git://github.com/jbussdieker/autoconf-to-debian.git
Vcs-Browser: http://github.com/jbussdieker/autoconf-to-debian

Package: autoconf-to-debian
Architecture: any
Description: A test of debhelper
